<%= stylesheet_link_tag "//cdn.jsdelivr.net/bootstrap.tagsinput/0.4.2/bootstrap-tagsinput.css" %>
<%= javascript_include_tag  "//cdn.jsdelivr.net/bootstrap.tagsinput/0.4.2/bootstrap-tagsinput.min.js" %>

<%= render "shared/sidebar" %>

<style type='text/css'>
.bootstrap-tagsinput {
    width: 100%;
}
</style>

<div class="container col-sm-9 col-sm-offset-3">
<h2>議事録の検索</h2>  
<div class="row">
	<%= search_form_for @q do |f| %>
		<div class="col-md-3">
	    	<div class="input-group">
	  	 		<%= autocomplete_field_tag :company_name_cont, '', autocomplete_company_name_articles_path, :class => 'form-control', :placeholder => 'Company' %>
			</div>
		</div>
	  	<div class="col-md-3">
	    	<div class="input-group">
	 	 	   <%= f.text_field :article_keywords_keyword_cont, :class => 'form-control', :placeholder => 'Keyword' %>
		  	</div><!-- /input-group -->
  		</div><!-- /.col-lg-6 -->

	  	<div class="col-md-3">
 	    	<%= f.submit'Search', :class => 'btn btn-default' %>	  	
  		</div>
  	
	<% end %>
</div><!-- /.row -->

<table class="table table-striped">
	  <thead>
	    <tr>
	      <th>Number</th>
	      <th>Company</th>
	      <th>Date</th>
	      <th>Substance</th>
	    </tr>
	  </thead>

	  <tbody>
	    <% @articles.each_with_index do |article, i| %>
	    <tr>
	        <td>
	        <a href="#myModal<%= i %>" role="button" class="btn" data-toggle="modal">
	        <%= article.id %>
	        </a>
	        </td>
	        <td><%= article.company.name %></td>
	        <td><%= article.created_at.strftime('%Y年%m月%d日')%></td>
	        <% keywords = '' %>
	        <% article.article_keywords.each do |keyword| %>
	        <% keywords = keywords + keyword.keyword + "\n" %>
	        <% end %>
	        <td><%= keywords %></td>
	    </tr>
	      
	      <!-- Modal -->
            <div class="modal fade" id="myModal<%= i %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">
                        <%= article.company.name %> <%= article.created_at.strftime('%Y年%m月%d日')%>
                    </h4>
                  </div>
                  <div class="modal-body">
                     <ul class="modal-list">
                         
                        <li class='modal-list-item'>
                        <h4 class="modal-list-item-heading">担当者</h4>
                          <% people = '' %>
	                        <% article.person_in_charges.each  do |person_in_charge| %>
	                        <% people = people + person_in_charge.company_person.name + "\n" %>
	                        <% end %>
                          <p class="modal-list-item-text"><%= people %></p> 
                        </li>
                         
                        <li class='modal-list-item'>
                        <h4 class="modal-list-item-heading">要点</h4>
                          <% keywords = '' %>
	                        <% article.article_keywords.each do |keyword| %>
	                        <% keywords = keywords + keyword.keyword + "\n" %>
	                        <% end %>
                          <p class="modal-list-item-text"><%= keywords %></p>
                        </li>
                        
                        <li class='modal-list-item'>
                        <h4 class="modal-list-item-heading">議事録</h4>
                            <p class="modal-list-item-text"><%= article.note %></p>
                        </li>
                        
                        <li class='modal-list-item'>
                        <h4 class="modal-list-item-heading">添付ファイル</h4>
                        <% article.proposals.each do |proposal| %>
                          <p class="modal-list-item-text">
                              <%= link_to proposal.upload_file_name, files_download_path(proposal) %>
                          </p>
                        <% end %>
                        </li>
                      </ul>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
	      
	    <% end %>
	  </tbody>
	</table>    

</div>