<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<div class="nav-side-menu">
  <div class="brand">議事Log</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
      <div class="menu-list">
        <ul id="menu-content" class="menu-content collapse out">
          <% if user_signed_in? %> 
            <li data-toggle="collapse" data-target="#user" class="collapsed">
              <a href="#"><i class="fa fa-user fa-lg"></i> <%= current_user.username %><span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="user">
              <li><%= link_to 'プロフィール変更', edit_user_registration_path %></li>
              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
            </ul>
          <% else %>
            <li data-toggle="collapse" data-target="#user" class="collapsed">
              <a href="#"><i class="fa fa-user fa-lg"></i> User<span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="user">
              <li><%= link_to "サインアップ", new_user_registration_path %></li>
              <li><%= link_to "ログイン", new_user_session_path %></li>
            </ul>
          <% end %>
        </ul>
        <li><a href="/mypage/index"><i class="fa fa-folder-open fa-lg"></i> マイページ</li>
        <li><a href="/articles/new"><i class="fa fa-book fa-lg"></i> 議事録を書く</a></li>
        <li><a href="/articles/search"><i class="fa fa-search"></i> 議事録を検索する</a></li>
     </div>
</div>
