<div class="container">
    <div class="row">
        <div class="col-sm-8 blog-main">
            <h2>最近コンタクトをとった会社の議事録の確認</h2>

            <ol class="breadcrumb">
                <% Article.group(:company_id).order("created_at DESC").limit(5).each do |article| %>
                    <li><a href="./index?c_id=<%= article.company_id %>"><%= article.company.name %></a></li>
                <% end %>
                <li><a href="./index">すべて表示</a></li>
            </ol>

            <h2><%= @c_name %>を時系列で表示</h2>
            <!-- 追加箇所開始 -->
            <p><%= page_entries_info @articles %></p>
            <!-- 追加箇所終了 -->

            <% @articles.each do |article| %>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <%= article.company.name %>
                            <%= article.created_at.strftime("%Y年%m月%d日%H時%m分") %>
                        </h3>
                    </div>
                    <!-- List group -->
                    <ul class="list-group">
                        <li class='list-group-item'>
                        <h4 class="list-group-item-heading">要点</h4>
                        <% article.article_keywords.each do |article_keyword| %>
                          <p class="list-group-item-text"><%= article_keyword.keyword %></p>
                        <% end %>
                        </li>
                        
                         <li class='list-group-item'>
                        <h4 class="list-group-item-heading">添付ファイル</h4>
                        <% article.proposals.each do |proposal| %>
                          <p class="list-group-item-text">
                              <%= link_to proposal.upload_file_name, files_download_path(proposal) %>
                          </p>
                        <% end %>
                        </li>
                    </ul>
                    <div class="panel-body">
                        <% article.note.each_line do |line| %>
                          <%= line %><br />
                        <% end %>
                    </div>
                </div>
            <% end %>

            <!-- 追加箇所開始 -->
            <%= paginate @articles %>
            <!-- 追加箇所終了 -->

            <!--<nav>-->
            <!--    <ul class="pager">-->
            <!--        <li><a href="#">Previous</a></li>-->
            <!--        <li><a href="#">Next</a></li>-->
            <!--    </ul>-->
            <!--</nav>-->

        </div>
        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <h4>ToDo</h4>
            <ul class="list-group">
                <li class="list-group-item">
                    <% ArticleTodo.order(:created_at).limit(10).each do |article_todo| %>
                    <span class="badge"><%= article_todo.created_at.strftime("%Y年%m月%d日") %></span>
                    <%= article_todo.todo %>
                    <% end %>
                </li>
            </ul>
        </div>
    </div> <!-- row -->
</div>
